
<template id="editor">
	<div class="psych_ward_editor" kbhint="ብቸኛው የባዶነት ብርድ የንስሐ ጊዜ አብቅቷል፣ ምክንያቱም ኃጢአታችሁ ከማንኛውም ክፉ ተልእኮ ይበልጣል። የልጅነት ስቃይ ሊሆን ይችላል ነገርግን አጋንንቶቻችንን መምረጥ አንችልም። ለዓለማት ታላላቅ ጌቶች ለሊዛርዶች።" regular_box>
		<div class="psych_ward_header">
			<div class="durka">ДУРКА</div>
			<img src="./assets/psych_ward.webp">
		</div>
		<div class="psych_ward_cfg_item kbsys_hidden">
			<div class="cfg_label">Remote</div>
			<input type="text" class="remote_dir" value="/" placeholder="Can NOT be empty" onchange_vis_feed>
		</div>
		<div class="psych_ward_cfg_item">
			<div class="cfg_label">Local</div>
			<input type="text" class="local_dir" placeholder="CAN be empty" onchange_vis_feed>
		</div>
		<sysbtn class="hard_reload_all" kbhint="Hard reload all the specified titles">Ballistic Reload All</sysbtn>
		<sysbtn class="redraw" kbhint="Redraw titles from the list">Redraw</sysbtn>
		<sysbtn class="check_presence_all" kbhint="Check whether the target titles are present in VMIX and local PC">Check Presence All</sysbtn>
		<textarea placeholder="Gtzip names without .gtzip extension" class="flist" onchange_vis_feed></textarea>
		<div class="psych_ward_viewer">
			<div class="psych_ward_results" subtle_box></div>
			<img src="./assets/psych_ward.webp" class="title_thumbnail" contain>
		</div>
	</div>
</template>


<template id="title_unit">
	<div class="psych_ward_title" regular_box>
		<img src="./assets/psych_ward.webp" class="preview_img" contain>
		<div class="title_data">
			<div class="title_name"></div>
			<div class="title_ctrl">
				<sysbtn
					kbhint="Drastic measures: Send the title file to the PC with VMIX, remove the title from the project and then re-add it"
					class="hard_reload"
				>Ballistic Reload</sysbtn>
			</div>
		</div>
		<div class="presence_icons">
			<img contain class="presence vmix kbsys_hidden_opacity" src="./assets/vmix_icon.png">
			<img contain class="presence pc kbsys_hidden_opacity" src="./assets/desktop_icon.svg">
		</div>
	</div>
</template>
















