


<template id="root">
	<div class="remote_inputs" regular_box>
		<div class="main_header">
			<div class="selection_ctrl">
				<sysbtn>Add as Input</sysbtn>
				<sysbtn>Download</sysbtn>
				<sysbtn>Upload</sysbtn>
			</div>
		</div>

		<div class="file_browser_list">
			<div class="file_browser_list local"></div>
			<div class="file_browser_list remote"></div>
		</div>
	</div>
</template>



<template id="file_browser">
	<div class="file_browser">
		<div class="file_browser header"></div>
		<div class="file_browser tree">
			<div class="file_browser disks"></div>
			<div class="file_browser flist"></div>
		</div>
	</div>
</template>



<template id="swift_input">
	<div class="swift_input" regular_box>
		<div class="main_header">
			Quick Input
		</div>
		<div class="split">
			<div class="drag_area" subtle_box>
				Drag one or multiple files here...
			</div>
			<div class="log" subtle_box></div>
		</div>
	</div>
</template>


<template id="swift_input_instance">
	<div class="swift_input_instance" subtle_box>
		<div class="fname"></div>
		<div class="upload_progress">
			<div class="upload_progress-fill" style="transform: scaleX(0);"></div>
		</div>
	</div>
</template>

















