startpage
{
	user-select: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding-bottom: 100px;
}


startpage img
{
	object-fit: contain;
	object-position: center;
	width: 250px;
}

startpage addr
{
	color: #96BBFF;
}




#welcome_enter_info{
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	font-size: 20px;
	font-family: 'ibm_plex';
}

#addr_selector sysbtn{
	padding: 7px 0px 7px 0px;
	margin-bottom: 15px;
}


#welcome_enter_info input{
	font-size: 20px;
	font-family: 'ibm_plex';
}


#welcome_screen_title_2{
	width: 600px;
	margin: 20px 0px 20px 0px;
}

#welcome_screen_title_2 addr{
	font-family: 'ibm_plex';
}


/*
!~~ #addr_selector
*/

~~ {
	display: flex;
	flex-direction: column;
}


/*
!~~ #discovery_list
*/

~~ {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	padding: 15px;
}

~~ .discovery_entry{
	padding: 3px;
	display: flex;
	flex-direction: row;
}

~~ .referrer_ip{
	padding: 5px;
	font-family: 'ibm_plex';
	width: 300px;
	white-space: pre;
}

~~ .discovery_entry:not(:first-child){
	margin-top: 10px;
}

~~ .addr_list{
	display: flex;
	flex-direction: column;
}

~~ .addr_list .discovery_addr{
	padding: 5px;
	padding-right: 10px;
	font-family: 'ibm_plex';
	width: 300px;
}

~~ .addr_list .discovery_addr:not(:first-child){
	margin-top: 8px;
}


~~ .addr_list .discovery_addr:hover{
	outline: 1px solid white;
}

~~ .addr_list .discovery_addr:active{
	outline: 2px solid lime;
}