

/*
========================================================================
------------------------------------------------------------------------
                             Main Frame
------------------------------------------------------------------------
========================================================================
*/


/*

	Style for main frame

*/

*
{
	padding: 0px;
	margin: 0px;
}

html
{
/*	width: 100%;
	height: 100%;*/
}

body
{
	background-color: rgba(1, 1, 2, 0.87);

	/*background-color: #232022;*/
	background-image: url('../../assets/bg_01b_tr.png');
	background-size: 200px;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	height: 100%;
}

h1
{
	color: white;
}

#modules_cont
{
	display: flex;
	margin-top: 50px;
	margin-bottom: 100px;
}






/*

	Topbar

*/
#app_top_toolbar
{
	display: flex;
	position: fixed;
	width: 100%;
	flex-direction: row;
	color: white;
	background: rgb(25, 25, 25);
	z-index: 65535;
}

.app_top_toolbar_category
{
	display: flex;
	flex-direction: row;
	height: 100%;
	font-family: 'Open_Sans';
	font-weight: 100;
	user-select: none;
}

.app_top_toolbar_category_entry
{
	display: flex;
	align-items: center;
	height: 30px;
	/*background: black;*/
	padding: 0px 10px 0px 10px;
}

.app_top_toolbar_category_entry:hover
{
	background: rgb(50, 50, 50);
}

/*
.app_top_toolbar_category_entry:active
{
	background: rgb(30, 30, 30);
}
*/






















/*
========================================================================
------------------------------------------------------------------------
                             Tooltips
------------------------------------------------------------------------
========================================================================
*/

liztooltip
{
	display: none;
}

[lizards_tooltip_box]
{
	position: fixed;
	display: flex;
	flex-direction: column;
	font-family: 'blender';
	font-size: 14px;
	z-index: 655355;
	max-width: 400px;
	background: rgb(30, 30, 30);
	padding: 10px;
	border: 1px solid rgb(100, 100, 100);
	color: white;
	user-select: none;
	pointer-events: none;
}



























/*
========================================================================
------------------------------------------------------------------------
                             	Bases
------------------------------------------------------------------------
========================================================================
*/

.foil_hidden
{
	display: none !important;
	visibility: hidden !important;
}

input
{
    all: unset;
    display: flex;
    flex-grow: 1;
    color: white;
    justify-content: center;
    font-family: 'Open_Sans';
    font-weight: 100;
    font-size: 15px;
    user-select: none;
    /*margin-left: 10px;*/
    min-width: 20px;
    padding: 2px 2px 2px 5px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}









