/*Open_Sans*/
@import url('../../fonts/Open_Sans/Open_Sans_family.css');
/*Roboto*/
@import url('../../fonts/Roboto/Roboto_family.css');
/*Roboto_Slab*/
@import url('../../fonts/Roboto_Slab/Roboto_Slab_family.css');

/*blender*/
@font-face
{
    font-family: 'blender';
    font-weight: 200;
    src: url('../../fonts/droidsans.ttf');
}







