



.simple_uilist_suggest
{
	position: absolute;
	display: flex;
	flex-direction: column;
	/*width: 200px;*/
	/*height: 200px;*/
	background: black;
	/*overflow-y: scroll;*/
	max-width: 500px;
}

.simple_uilist_suggestion_entry
{
	/*display: flex;*/
	display: block;
	padding: 3px;
	padding-left: 6px;
	font-size: 15px;
	/*width: 500px;*/
	user-select: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.simple_uilist_suggestion_entry_active
{
	background: red;
}

