

/*
!~~ welcome
*/


welcome #starting_page
{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

welcome, greetings
{
	user-select: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

welcome #welcome_screen_title
{
	font-size: 50px;
	text-align: center;
}

welcome #welcome_screen_title_2
{
	text-align: center;
	padding: 10px 30px 10px 30px;
}


welcome greetings img
{
	object-fit: contain;
	object-position: center;
	width: 250px;
}



welcome #system_selector
{
	/*padding: 30px;*/
	margin: 30px;
	display: flex;
	flex-direction: row;
	width: 100%;
}


welcome .vmix_preset_system
{
	user-select: none;
	display: flex;
	padding: 10px;
	background: rgba(255, 255, 255, 0.08);
	outline: 1px solid rgb(100, 100, 100);
	font-size: 15px;
}

welcome .vmix_preset_system:hover
{
	background: rgba(255, 255, 255, 0.15);
	outline: 1px solid rgb(120, 120, 120);
}

welcome .vmix_preset_system:active
{
	outline-color: lime;
	background-color: rgba(200, 255, 255, 0.15)
}


welcome sysbtn
{
	padding: 10px;
	margin-left: 10px;
}

welcome #vmix_ip_address_editor{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

welcome #vmix_ip_address_editor > input{
	flex-grow: 0;
}

welcome please-read{
	top: 0px;
	left: 0px;
	width: 24vw;
	position: fixed;
	margin: 40px;
	z-index: -1;
}

welcome please-read ul li{
	color: red;
	font-size: 20px;
	margin-top: 10px;
}