#starting_page
{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

welcome, greetings
{
	user-select: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

#welcome_screen_title
{
	font-size: 50px;
	text-align: center;
}

#welcome_screen_title_2
{
	text-align: center;
	padding: 10px 30px 10px 30px;
}


greetings img
{
	object-fit: contain;
	object-position: center;
	width: 250px;
}



#system_selector
{
	/*padding: 30px;*/
	margin: 30px;
	display: flex;
	flex-direction: row;
	width: 100%;
}


.vmix_preset_system
{
	user-select: none;
	display: flex;
	padding: 10px;
	background: rgba(255, 255, 255, 0.08);
	outline: 1px solid rgb(100, 100, 100);
	font-size: 15px;
}

.vmix_preset_system:hover
{
	background: rgba(255, 255, 255, 0.15);
	outline: 1px solid rgb(120, 120, 120);
}

.vmix_preset_system:active
{
	outline-color: lime;
	background-color: rgba(200, 255, 255, 0.15)
}


welcome sysbtn
{
	padding: 10px;
	margin-left: 10px;
}