


/*
=========================================
                  Base
=========================================
*/
*
{
	padding: 0px;
	margin: 0px;
	color: white;
	font-family: 'tahoma';
	/*font-weight: 200;*/
	/*font-style: bold;*/
	/*font-size: 15px;*/
}

*::-webkit-scrollbar {
	width: 1em;
	background: rgb(150, 150, 150);
}
 
*::-webkit-scrollbar-track {
	/*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
}
 
*::-webkit-scrollbar-thumb {
	background-color: #12141C;
	/*outline: 1px solid slategrey; */
	/*border-radius: 10px;*/
}

*:not(input, textarea, [selectable], [selectable_recursive], [selectable_recursive] *, [contenteditable])
{
	user-select: none;
}

html
{
	/*background: #1E2328;*/
	background: url('../../assets/bg.png');
	background-attachment: fixed;
	/*background-position: center;*/
}

body
{
	display: flex;
}


input:not(input[type="file"], input[type="checkbox"], input[type="radio"])
{
	all: unset;
	color: white;
	background: #1D1D22;
	outline: 1px solid rgb(100, 100, 100);
	padding: 3px;
	font-size: 13px;
}

input:focus
{
	outline-color: #468058 !important;
}

input[invalid]
{
	outline-color: #E25851 !important;
}


#app_sys
{
	display: flex;
	flex-grow: 1;
}

















/*
=========================================
               Logs/Messages
=========================================
*/
#logs_place
{
	/*z-index: 2147483640 !important;*/
	z-index: 65535 !important;
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.8);
}

#logs_place msg
{
	font-size: 50px;
	color: red;
	text-align: center;
	display: flex;
	text-align: center;
}
.warning_critical
{
	display: flex;
	flex-direction: column;
}
#logs_place sysbtn
{
	flex-grow: 0;
	flex-shrink: 1;
	width: fit-content;
	align-self: center;
	margin-top: 10px;
	font-size: 20px;
}

#logs_place[critical]
{
	background: rgba(0, 0, 0, 0.4);
}


















/*
=========================================
            Reusable stylings
=========================================
*/

[regular_box]
{
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	outline: 1px solid rgba(255, 255, 255, 0.1);
}

img[contain], video[contain]
{
	object-position: center;
	object-fit: contain;
}

[nosel],
[nosel] *
{
	user-select: none !important;
}

[click_contrast]:not([noclick]):active
{
	outline: 3px solid cyan;
	color: lime;
}




/*
!~~ [labeled_cbox]
*/
~~
{
	display: flex;
	flex-direction: row;
	align-items: center;
	background: rgba(0, 0, 0, 0.3);
	position: relative;
}

~~:hover
{
	background: rgba(90, 90, 90, 0.3);
}

~~:active
{
	z-index: 999;
	outline: 1px solid #3E6AB5;
}

~~:first-child
{
	border-radius: 7px 0px 0px 7px;
}

~~:last-child
{
	border-radius: 0px 7px 7px 0px;
}

~~:last-child:first-child
{
	border-radius: 7px;
}

~~ input
{
	width:  16px;
	height: 100%;
	margin-right: 5px;
	position: absolute;
	right: 0px;
}

~~ label
{
	padding: 5px 10px 5px 10px;
	padding-right: calc(10px + 16px);
}


























/*
=========================================
                XML map
=========================================
*/
xmlmap
{
	display: flex;
	flex-direction: column;
	color: white;
	font-family: 'tahoma';
}

xmlmap entry
{
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	align-items: center;
	/*padding: 2.5px 0px 2.5px 0px;*/
}

xmlmap input[special]
{
	height: 50%;
	align-self: center;
	width: 70px;
}

xmlmap entry inf
{
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	user-select: none;
	margin-right: 5px;
}

xmlmap entry inf[success]
{
	color: #6BE496;
}

xmlmap entry inf[fail]
{
	color: #E46B6B;
}

xmlmap entry val
{
	/*padding: 0px 5px 0px 5px;*/
	/*border-radius: 0px 4px 4px 0px;*/
	/*background: rgba(0, 0, 0, 0.3);*/
	/*margin-right: 15px;*/
	/*min-width: 100px;*/
	margin-left: 5px;
}

xmlmap entry from, xmlmap entry to
{
	display: flex;
	align-items: center;
	padding: 5px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.3);
}


xmlmap entry between
{
	background: url('../../assets/arrow_right.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 15px;
	height: 100%;
	margin: 0px 5px 0px 5px;
}


fbr
{
	flex-basis: 100% !important;
	height: 0px !important;
	opacity: 0 !important;
}

















/*
=========================================
                   Buttons
=========================================
*/


/*
-------------
vmix buttons
------------
!~~ vmixbtn
*/

~~
{
	user-select: none;
	display: flex;
	flex-grow: 0;
	background: #de817a;
	margin: 10px;
	width: 100px;
	height: 100px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

~~[halfsize]
{
	transform: scale(0.5);
	overflow: hidden;
}

~~[halfsize] .vmixbtn_info_icon_pool
{
	transform: scale(1.15);
}

~~:hover
{
	background: #9e6560;
}

~~:active
{
	color: lime;
	outline: 3px solid cyan;
}

~~[titled]:active *
{
	color: lime;
}

~~.vmixbtn_locked
{
	user-select: none !important;
	pointer-events: none !important;
	filter: grayscale(1);
}

~~[rel_pos]
{
	position: relative !important;
}

~~[bottom]
{
	align-items: flex-end !important;
}

~~[bottom] > *
{
	margin-bottom: 10px;
}


~~ .vmixbtn_info_icon_pool
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 20%;
	margin-top: 5px;
	opacity: 0.6;
}




/*
!~~ vmixbtn[seq_align="vertical"]
*/

~~ .vmixbtn_info_icon_pool
{
	flex-direction: column !important;
	margin: 0px !important;
	/*width: 100%;*/
	height: 100% !important;
	align-items: flex-start;
	justify-content: flex-start;
	/*padding-left: 5px;*/
}

~~ .vmixbtn_info_icon_pool .vmixbtn_info_icon
{
	height: 17%;
}

~~ .vmixbtn_info_icon_pool div
{
	display: flex;
	flex-direction: row;
	height: 17% !important;
	margin-top: 5px;
}

~~ .vmixbtn_info_icon_pool div .vmixbtn_info_icon
{
	height: 100%;
}

~~ .vmixbtn_info_icon
{
	margin-left: 7px !important;
}

vmixbtn .vmixbtn_info_icon_pool .vmixbtn_info_icon
{
	height: 100%;
	aspect-ratio: 1/1;
}
vmixbtn .vmixbtn_info_icon_pool .vmixbtn_info_icon:not(:first-child){
	margin-left: 7px;
}







/*
-------------
sys buttons
------------
!~~ sysbtn
*/

~~
{
	user-select: none;
	display: flex;
	padding: 3px;
	font-size: 15px;
	color: white;
	outline: 1px solid rgb(100, 100, 100);
	background: #252A2F;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

~~:hover
{
	background: #3B4147;
	outline-color: rgb(120, 120, 120);
}

~~:active
{
	outline-color: lime;
}


















/*
=========================================
           String formatting box
=========================================
!~~ string-formatting
*/

~~
{
	display: flex;
	flex-direction: column;
	padding: 10px;
	background: rgba(0, 0, 0, 0.2);
	outline: 1px solid rgba(100, 100, 100);
	/*width: 600px;*/
	width: fit-content;
	padding-left: 40px;
	margin-left: 20px;
	margin-bottom: 30px;
}

~~ strf-param
{
	display: flex;
	flex-direction: row;
	padding: 1px;
	margin-top: 10px;
	border-left: 2px solid white;
}

~~ strf-param:hover
{
	border-color: lime;
}

~~ strf-label
{
	width: 120px;
	padding-left: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

~~ strf-selector
{
	display: flex;
	flex-direction: row;
}

~~ strf-opt-group
{
	display: flex;
	flex-direction: row;
	margin-left: 20px;
}


/*
!~~ string-formatting strf-opt-group strf-opt
*/
~~
{
	display: flex;
	flex-direction: row;
	align-items: center;
	background: rgba(0, 0, 0, 0.3);
	position: relative;
}

~~:hover
{
	background: rgba(90, 90, 90, 0.3);
}

~~:active
{
	z-index: 999;
	outline: 1px solid #3E6AB5;
}

~~:first-child
{
	border-radius: 7px 0px 0px 7px;
}

~~:last-child
{
	border-radius: 0px 7px 7px 0px;
}

~~:last-child:first-child
{
	border-radius: 7px;
}

~~ input
{
	width:  16px;
	height: 100%;
	margin-right: 5px;
	position: absolute;
	right: 0px;
}

~~ label
{
	padding: 5px 10px 5px 10px;
	padding-right: calc(10px + 16px);
}




/*
=========================================
                pgview
=========================================
!~~ #pgview_link_pool
*/
~~
{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	/*width: 600px;*/
	align-items: center;
	justify-content: center;
}

~~ .pgview_bind_entry
{
	margin-top: 5px;
	display: flex;
	height: 30px;
}

~~ .pgview_bind_entry sysbtn
{
	width: 60px;
}

~~ .pgview_bind_entry > input
{
	min-width: 600px;
}

~~ .pgview_bind_entry > div
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 10px;
}

/*
!~~ #pgview_base
*/

~~
{
	position: fixed;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	z-index: 214748364;
}

~~.__pgview_hidden, ~~ .__pgview_hidden
{
	visibility: hidden;
}

~~ webview
{
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	pointer-events: none;
	position: fixed;
}























/*
===============================================
                  Tab system
===============================================
!~~ tabsys
*/
~~
{
	position: fixed;
	width: 100%;
	display: flex;
	height: 40px;
	background: #151417;
	z-index: 99999;
	padding-bottom: 5px;
	/*box-shadow: 0px 7px 23px 0px rgba(0, 0, 0, 1);*/
	/*box-shadow: 0px 5px 18px -3px rgba(0, 0, 0, 1);*/
	box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.75);
	border-bottom: 1px solid rgb(60, 60, 60);
}

~~ sys-tab
{
	user-select: none;
	height: 100%;
	margin: 0px 10px 0px 10px;
	padding: 0px 10px 0px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 0px 0px 10px 10px;
	background: #1F2020;
	border: 1px solid rgb(100, 100, 100);
	border-top-width: 0px;
}

~~ sys-tab:hover
{
	padding-top: 10px;
	background: #3B3C3D;
}

sys-tab
{
	padding-top: 100px;
	display: flex;
	flex-direction: column;
}

sys-tab.tab_hidden
{
	display: none !important;
}

~~ sys-tab.active_tab
{
	background: #1a3c75 !important;
	border-color: #3E6AB5 !important;
}

tab.tab_hidden
{
	display: none;
}

tab
{
	padding-top: 100px;
	display: flex;
}