
*
{
	padding: 0px;
	margin: 0px;
	color: white;
	font-family: 'tahoma';
	/*font-weight: 200;*/
	/*font-style: bold;*/
	/*font-size: 15px;*/
}








*::-webkit-scrollbar {
	width: 1em;
	background: rgb(150, 150, 150);
}
 
*::-webkit-scrollbar-track {
	/*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
}
 
*::-webkit-scrollbar-thumb {
	background-color: #12141C;
	/*outline: 1px solid slategrey; */
	/*border-radius: 10px;*/
}



















html
{
	/*background: #1E2328;*/
	background: url('../../assets/bg.png');
	background-attachment: fixed;
	/*background-position: center;*/
}

body
{
	display: flex;
}


*::-moz-scrollbar {
  width: 1em;
  background: gray;
}
 
*::-moz-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
*::-moz-scrollbar-thumb {
  background-color: black;
  /* outline: 1px solid slategrey; */
  
}

#logs_place
{
	/*z-index: 2147483640 !important;*/
	z-index: 65535 !important;
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.8);
}

#logs_place msg
{
	font-size: 50px;
	color: red;
	text-align: center;
	display: flex;
	text-align: center;
}
.warning_critical
{
	display: flex;
	flex-direction: column;
}
#logs_place sysbtn
{
	flex-grow: 0;
	flex-shrink: 1;
	width: fit-content;
	align-self: center;
	margin-top: 10px;
	font-size: 20px;
}

#logs_place[critical]
{
	background: rgba(0, 0, 0, 0.4);
}

#app_sys
{
	display: flex;
	flex-grow: 1;
}


vmixbtn
{
	user-select: none;
	display: flex;
	flex-grow: 0;
	background: #de817a;
	margin: 10px;
	width: 100px;
	height: 100px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

vmixbtn:hover
{
	background: #9e6560;
}

vmixbtn:active
{
	color: lime;
	outline: 3px solid cyan;
}

vmixbtn[titled]:active *
{
	color: lime;
}

.vmixbtn_locked
{
	user-select: none !important;
	pointer-events: none !important;
	filter: grayscale(1);
}

sysbtn
{
	user-select: none;
	display: flex;
	padding: 3px;
	font-size: 15px;
	color: white;
	outline: 1px solid rgb(100, 100, 100);
	background: #252A2F;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

sysbtn:hover
{
	background: #3B4147;
	outline-color: rgb(120, 120, 120);
}

sysbtn:active
{
	outline-color: lime;
}


[click_contrast]:not([noclick]):active
{
	outline: 3px solid cyan;
	color: lime;
}












[regular_box]
{
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	outline: 1px solid rgba(255, 255, 255, 0.1);
}

input:not(input[type="file"], input[type="checkbox"])
{
	all: unset;
	color: white;
	background: #1D1D22;
	outline: 1px solid rgb(100, 100, 100);
	padding: 3px;
	font-size: 13px;
}

input:focus
{
	outline-color: #468058 !important;
}

input[invalid]
{
	outline-color: #E25851 !important;
}










xmlmap
{
	display: flex;
	flex-direction: column;
	color: white;
	font-family: 'tahoma';
}

xmlmap entry
{
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	align-items: center;
	/*padding: 2.5px 0px 2.5px 0px;*/
}

xmlmap input[special]
{
	height: 50%;
	align-self: center;
	width: 70px;
}

xmlmap entry inf
{
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	user-select: none;
	margin-right: 5px;
}

xmlmap entry inf[success]
{
	color: #6BE496;
}

xmlmap entry inf[fail]
{
	color: #E46B6B;
}

xmlmap entry val
{
	/*padding: 0px 5px 0px 5px;*/
	/*border-radius: 0px 4px 4px 0px;*/
	/*background: rgba(0, 0, 0, 0.3);*/
	/*margin-right: 15px;*/
	/*min-width: 100px;*/
	margin-left: 5px;
}

xmlmap entry from, xmlmap entry to
{
	display: flex;
	align-items: center;
	padding: 5px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.3);
}


xmlmap entry between
{
	background: url('../../assets/arrow_right.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 15px;
	height: 100%;
	margin: 0px 5px 0px 5px;
}


fbr
{
	flex-basis: 100% !important;
	height: 0px !important;
	opacity: 0 !important;
}


img[contain]
{
	object-position: center;
	object-fit: contain;
}





