
html, body{
	height: 100%;
}


kbstandard{
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;

	overflow: hidden;
}

/*kbstandard[edit_mode] *:not([edit_visible]){
	display: none !important;
}*/

kbstandard:not([edit_mode]) [edit_visible]{
	display: none !important;
}

kbstandard[edit_mode] [edit_hidden]{
	display: none !important;
}

kbstandard[data_preview_mode] [preview_visible]{
	display: flex !important;
	opacity: 0.7;
	filter: grayscale(1);
}

kbstandard[data_preview_mode] [preview_hidden]{
	display: none !important;
}

kbstandard[data_preview_mode] input{
	pointer-events: none !important;
	user-select: none !important;
}


tab[tabid="config"]{
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	padding-bottom: 150px;
}

#special_clauses_list{
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 100px;
	width: 300px;
}

#special_clauses_list h3{
	margin-bottom: 10px;
}

#param_list{
	display: flex;
	flex-direction: column;

	width: 500px;

	margin-left: 20px;
}

#param_list input[res_path]{
	width: 100%;
}

#param_list [timer_has_vs_row],
#param_list [vs_as_movs_row]

{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#param_list [timer_has_vs_row] [row_label],
#param_list [vs_as_movs_row] [row_label]
{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
	background: rgba(255, 255, 255, 0.05);
	outline: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 5px;
}

#param_list [timer_has_vs_row] [row_label]:hover,
#param_list [vs_as_movs_row] [row_label]:hover
{
	outline-color: gray;
}

#param_list [timer_has_vs_row] [row_label] input,
#param_list [vs_as_movs_row] [row_label] input
{
	margin-left: 10px;
	height: 20px;
	width: 20px;
}


#schema_cfg{
	width: 700px;
	margin-left: 20px;
	margin-top: 20px;
}

#schema_cfg_header{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#schema_cfg_ctrl{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

#schema_cfg_ctrl sysbtn{
	margin-top: 5px;
}

#schema_cfg_list{
	margin-top: 15px;
}

/*
!~~ #schema_cfg_list .schema_list_entry
*/

#schema_cfg_list .schema_list_entry{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4px 0px 4px 4px;
}

#schema_cfg_list .schema_list_entry:hover{
	background: rgba(255, 255, 255, 0.1);
}

#schema_cfg_list .schema_list_entry:not(:first-child){
	margin-top: 5px;
}

#schema_cfg_list .schema_list_entry .schema_data_input:not(:first-child){
	margin-left: 7px;
}

#schema_cfg_list .schema_list_entry .field_label{
	width: 90px;
}

#schema_cfg_list .schema_list_entry .suffix{
	width: 45px;
}

#schema_cfg_list .schema_list_entry .is_image,
#schema_cfg_list .schema_list_entry .is_shared,
#schema_cfg_list .schema_list_entry .is_text_area
{
	height: 19px;
	width: 19px;
	margin-left: 15px !important;
	margin-right: 5px;
}


tab[tabid="ctrl"]{
	display: flex;
	flex-direction: row;

	width: 100%;
	height: 95%;

	overflow: hidden !important;

	justify-content: space-evenly;

	padding-bottom: 5px;
	padding-top: 80px;
}

tab[tabid="ctrl"] vmixbtn{
	width: 125px;
	height: 125px;

	font-size: 20px;
}

#ctrl_side{
	display: flex;
	flex-direction: column;

	position: relative;

	padding: 10px;
	margin-bottom: 12px;

	width: 63%;
	height: 90%;

	overflow-y: scroll;
	overflow-x: hidden;
}

#_timer_feedback{
	padding: 9px;
	display: flex;
	position: absolute;
	top: 0px;
	/*bottom: 0px;*/
	right: 0px;
	margin: 10px;
	font-size: 21px;
	font-weight: bold;
	font-family: monospace;
	font-size: 26px;
}

#timer_feedback{
	padding: 9px;
	display: flex;
	right: 0px;
	align-items: center;
	justify-content: center;
	margin: 10px;
	font-size: 21px;
	font-weight: bold;
	font-family: monospace;
	font-size: 26px;
	width: 109px;
}

#title_ctrl{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	width: fit-content;
}

#title_ctrl [row]{
	display: flex;
	flex-direction: row;
}


#event_announcements, #undercard_ctrl{
	margin-left: 15px;
}


[btname='all_events_off']{
	width: -webkit-fill-available !important;
	font-size: 35px !important;
}

[btname='undercard_off']{
	width: -webkit-fill-available !important;
	font-size: 35px !important;
}





#timer_ctrl{
	display: flex;
	flex-direction: row;
	width: fit-content;

	margin-top: 20px;
}

#timer_ctrl [row]{
	display: flex;
	flex-direction: row;
}




#player_pool_side{
	display: flex;
	flex-direction: column;

	width: 32%;
}

#player_pool_ctrl sysbtn{
	margin-top: 10px;
}

#player_pool_ctrl_bind_btns{
	margin-top: 20px;
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

#player_pool_ctrl_bind_btns sysbtn{
	margin-top: 0px;
	width: 40%;
}

#player_pool_ctrl_bind_btns sysbtn[btname="bind_photo_ids"]{
	color: #CBFFD2;
}
#player_pool_ctrl_bind_btns sysbtn[btname="unbind_photo_ids"]{
	color: #FFCFCB;
}


#player_pool{
	padding: 10px;
	display: flex;
	flex-direction: column;
	height: 90%;
}


/*
!~~ #player_list
*/

#player_list{
	padding: 5px;
	margin-top: 20px;

	overflow-x: hidden;
	overflow-y: scroll;
}


/*
!~~ #player_list .player_pair
*/

#player_list .player_pair{
	display: flex;
	flex-direction: column;

	background: rgb(0, 0, 0, 0.25);
}

#player_list .player_pair:not(:first-child){
	margin-top: 15px;
}

#player_list .player_pair .pair_header{
	display: flex;
	flex-direction: row;
	height: 30px;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#player_list .player_pair.active_pair .pair_num{
	color: lime;
}

#player_list .player_pair .pair_header .pair_num{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	/*todo: wtf is this ?*/
	margin: 0px 30px 0px 30px;
}

#player_list .player_pair .pair_header:hover{
	background: black;
}

#player_list .player_pair .vis_display{
	padding: 2px 0px 2px 0px;
	font-size: 18px;
}

kbstandard:not([edit_mode]) #player_list .player_pair .pair_header:active{
	outline: 2px solid cyan;
}

kbstandard:not([edit_mode]) #player_list .player_pair .pair_header:active{
	outline: 2px solid cyan;
}

kbstandard:not([edit_mode]) #player_list .player_pair .pair_header:active .pair_num{
	color: lime;
}

kbstandard:not([edit_mode]) #player_list .player_pair .kb_player:active{
	color: lime;
	outline: 3px solid cyan;
}

kbstandard:not([edit_mode]) #player_list .player_pair .kb_player:active .vis_display{
	color: lime;
}

#player_list .player_pair .pair_header .pair_ctrl{
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
}



/*
!~~ #player_list .player_pair .pair_header .pair_ctrl sysbtn
*/
#player_list .player_pair .pair_header .pair_ctrl sysbtn{
	height: 60%;
	aspect-ratio: 1/1;
}

#player_list .player_pair .pair_header .pair_ctrl sysbtn:not(:first-child){
	margin-left: 5px;
}

#player_list .player_pair .pair_header .pair_ctrl sysbtn img{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

#player_list .player_pair .pair_header .pair_ctrl sysbtn.del_pair{
	margin-left: 20px;
}

#player_list .player_pair .pair_header .pair_ctrl sysbtn.move_pair_up img{
	transform: rotate(90deg) scale(0.8);
}

#player_list .player_pair .pair_header .pair_ctrl sysbtn.move_pair_down img{
	transform: rotate(-90deg) scale(0.8);
}





/*
!~~ #player_list .player_pair .round_amount
*/
#player_list .player_pair .round_amount{
	text-align: center;
	width: 50%;
	align-self: center;
	margin-top: 10px;
}






/*
!~~ #player_list .player_pair .pair_players
*/

#player_list .player_pair .pair_players{
	display: flex;
	flex-direction: row;
	width: 100%;
}

#player_list .player_pair .pair_players .kb_player{
	padding: 5px;
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-top: 5px;
}

#player_list .player_pair .pair_players .kb_player.active_player .vis_display{
	color: lime;
}

#player_list .player_pair .pair_players .kb_player:hover{
	background: rgba(255, 255, 255, 0.1);
}

#player_list .player_pair .pair_players .kb_player .player_data{
	display: flex;
	flex-direction: column;
}

#player_list .player_pair .pair_players .kb_player .player_data .data_entry{
	display: flex;
	flex-direction: row;
}

#player_list .player_pair .pair_players .kb_player .player_data .data_entry:not(:first-child){
	margin-top: 5px;
}

#player_list .player_pair .pair_players .kb_player .player_data .data_entry .data_entry_label{
	width: 100px;
}

#player_list .player_pair .pair_players .player_pair .vis_display{
	display: flex;
	flex-direction: row;
}

#player_list .player_pair .pair_players .kb_player:last-child .vis_display{
	text-align: right;
}


/*
!~~ .player_pair .pair_players
*/


#player_list.red_vs_blu .player_pair .pair_players .kb_player:first-child{
	border-left: 5px solid #bd3b3b;
}
#player_list.red_vs_blu .player_pair .pair_players .kb_player:last-child{
	border-right: 5px solid #5b7a8c;
}


#player_list.blu_vs_red .player_pair .pair_players .kb_player:first-child{
	border-left: 5px solid #5b7a8c;
}
#player_list.blu_vs_red .player_pair .pair_players .kb_player:last-child{
	border-right: 5px solid #bd3b3b;
}









/*todo: replace these useless params with core attributes*/
#round_config{
	display: flex;
	flex-direction: column;
}

#round_cfg_fields{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

#round_cfg_fields .round_cfg_field{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1px 0px 1px 0px;
}

#round_cfg_fields .round_cfg_field:not(:first-child){
	margin-top: 5px;
}

#round_cfg_fields .round_cfg_field .field_label{
	width: 60px;
	margin-right: 7px;
}

#round_cfg_fields .round_cfg_field > sysbtn{
	margin-left: 7px;
}

#round_duration_cfg_field > input{
	width: 40px;
	text-align: center;
}

#round_amount_fields input[round_amount]{
	width: 86px;
	text-align: center;
}



#round_selector{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #6E7D97;
	padding: 5px;
	width: 320px;
}

#round_selector .round_selector_item{
	aspect-ratio: 1/1;
	height: 30px;
	margin: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;

	background: rgba(0, 0, 0, 0.25);
}

#round_selector .round_selector_item:hover{
	background: black;
}


#round_selector .round_selector_item:active{
	color: lime;
	background: black;
	outline: 3px solid cyan;
}

#round_selector .round_selector_item.active_round{
	color: lime;
}


#set_time_cfg > input{
	width: 40px;
	text-align: center;
}


resource-proxy-ctrl{
	margin-left: 20px;
	margin-bottom: 50px;
}








[btname='judges_off']{
	width: -webkit-fill-available !important;
	font-size: 35px !important;
	margin-top: 40px;
}

#winner_ctrl{
	margin-left: 20px;
}

#winner_ctrl vmixbtn{
	width: 250px;
}

#judges_ctrl{
	margin-left: 20px;
}


[btname='winner_off']{
	width: -webkit-fill-available !important;
	font-size: 35px !important;
	margin-top: 40px;
}



[btname='winner_blu']{
	border-left: 10px solid #5b7a8c;
	border-right: 10px solid #5b7a8c;
	font-size: 30px !important;
}

[btname='winner_red']{
	border-left: 10px solid #bd3b3b;
	border-right: 10px solid #bd3b3b;
	font-size: 30px !important;
}