
#number_name_x2lr_w_url_src
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}


#info_display_dynamic
{
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
	margin: 5px;
	align-self: center;
}


xmlstatus
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}


left, right, middle
{
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	width: -webkit-fill-available;
	padding-left: 10px;
}

left text, right text
{
	min-width: 100px;
}

delimeter
{
	margin: 0px 5px 0px 5px;
	user-select: none;
	color: gray;
}


#make_input input
{
	color: black;
}




properties
{
	display: flex;
	flex-direction: column;
	margin: 5px;
}


prmrow
{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-items: center;
	padding: 5px;
}

prmrow [interval]
{
	min-width: 250px !important;
}


prmrow sysbtn
{
	margin-left: 10px;
	padding-left: 8px;
	padding-right: 8px;
}

prmrow rowlabel
{
	user-select: none;
	flex-shrink: 0;
}


prmrow [tgt_title], prmrow [tgt_title_name]
{
	margin-left: 10px !important;
	width: 50% !important;
}


timer
{
	font-family: 'consolas';
	align-self: center;
}

